@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar { 
  display: none;
}

#page {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 100vh;
  background-color: rgb(27, 26, 39);
}
#header{
  grid-column: 1 / -1;
}

#content {
  width: 80vw;
  min-height: 80vh;
  overflow: auto;
  margin-top: 20px;
  margin-left: -10px;
}

#content::-webkit-scrollbar{
    display: none;
}

/* #searchbar{
  top: 0;
  position: sticky;
  z-index: 999;
} */

/* CHEVRONS */

#left{
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  z-index: 3;
  top: 0;
  position: sticky;
  min-width: 10vw;
}

#left:hover{
  box-shadow: 0 50px 40px 0 rgba(0, 0, 0, 0.6);
  transition: all 300ms ease;
}

#right{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  max-height: 100vh;
  overflow-x: hidden;
  top: 0;
  position: sticky;
  }

#right:hover{
  box-shadow: 0 50px 40px 0 rgba(0, 0, 0, 0.6);
  transition: all 300ms ease;
}

#chevR:hover{
  transform: scale(1.2);
  transition: all 300ms ease;
}

#chevL:hover{
  transform: scale(1.2);
  transition: all 300ms ease;
}

/* CRADS */

#cardbody{
  overflow: auto;
  align-items: center;
}

#cardbody::-webkit-scrollbar { 
  display: none;
}

#card-title{
  margin-top: -10px;
  font-size: .7rem;
  font-weight: 900;
  text-align: center;
}

#card-text-author{
  font-size: .6rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

#card-text-date{
  font-size: .55rem;
  margin-top: -12px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.m-auto{
  width: 150px;
  height: 235px;
}

.m-auto:hover{
  transform: scale(1.1);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
  transition: all 300ms ease;
}

#cardImage{
  object-fit: cover;
  width: 100%;
  height: 60%;
  background-color: rgb(27, 26, 39);
}

/* RESPONSIVE */

@media only screen and (max-width: 767px) {
  .m-auto{
    width: 250px;
    height: 430px;
  }

  #cardImage{
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 60%;
    background-color: rgb(27, 26, 39);
  }

  .m-auto:hover{
    transform: scale(1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    transition: all 300ms ease;
  }

  #card-title{
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
  }
  
  #card-text-author{
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
  }
  
  #card-text-date{
    font-size: 1rem;
    margin-top: -12px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
  }

  #logoutbuttondiv{
    margin-bottom: 20px;
  }
  
}

/* VIDEO BACKGROUND */

video{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 50%;
  z-index: 0;
}

/* MODAL STYLING */

#modalImage{
  float: left;
}

#modalContent{
  overflow : hidden;
  font-size: .8rem;
}

#description{
  font-size: .8rem;
}

#modalFooter{
  font-size: .8rem;
}

#link:link{
  text-decoration: none;
  margin-right: 2px;
}