body {
  overflow-x: hidden;
}

.header {
  background-color: rgb(27, 26, 39);
  width: 100vw;
  height: 30vh;
  position: relative;
  background-attachment: fixed;
}

.m-auto:hover{
  transform: scale(1.1);
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
        z-index: 3;
        border-color: #007bff !important;
}